# Boring file regexps:
*.scssc
*.sassc
*~
/.hg
/.hgtags
*.orig
*.patch
*.pyc
*.pyo
*.kate-swp
/*.gitk-tmp*
sdist.log

# sage files to ignore:
/build
/dist
MANIFEST
PKG-INFO
release_notes.txt
/sass/src/.sass-cache
/sagenb/data/jmol
/sagenb.egg-info
sagenb/data/jsmath/fonts
sagenb/data/MathJax
/setup.cfg
/sagenb/data/.webassets-cache
/sagenb/data/webassets_generated
