{#
INPUT:
- do_print - a boolean
- cell_id_list - a list of cell id's
- confirm_before_leave - a boolean stating whether to popup a js confirm
  dialog before leaving
- cells_html - string of cells HTML
- published - a boolean stating whether the worksheet is published
- state_number - worksheet.state_number()
#}
{% include "html/worksheet/worksheet_body.html" %}

{% if do_print %}
<script language="javascript">jsMath.ProcessBeforeShowing();</script>
{% else %}
<script type="text/javascript">
$(document).ready(function() {                              
   cell_id_list={{ cell_id_list }};
   state_number={{ state_number }};
   {% if not published %}if(worksheet_name == "Untitled") rename_worksheet();{% endif %}
});                     
</script>
{% endif %}

{% if not do_print and confirm_before_leave %}
<script type="text/javascript">
$(document).ready(function() {                                  
            window.onbeforeunload = confirmBrowseAway;
            function confirmBrowseAway()
            {
            return "Unsubmitted cells will be lost.";
            }
});                              
</script>
{% endif %}

