{% extends 'html/base_newui.html' %}

{% block head %}
	{{ super() }}

	<!-- CodeMirror -->
	<link rel="stylesheet" href="/data/CodeMirror-2.25/lib/codemirror.css">
	
	<!-- simple hinting -->
	<link rel="stylesheet" href="/data/CodeMirror-2.25/lib/util/simple-hint.css">
{% endblock head %}

{% block navbar %}
	<ul class="nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#" id="new_worksheet"><i class="icon-file"></i> New Worksheet</a></li>
				<li><a href="#" id="save_worksheet"><i class="icon-ok"></i> Save Worksheet</a></li>
				<li><a href="#" id="close_worksheet"><i class="icon-remove"></i> Close Worksheet</a></li>

				<li class="divider"></li>
				<li><a href="#" id="export_to_file"><i class="icon-download"></i> Export to File</a></li>
				<li><a href="#import_modal" id="import_from_file" data-toggle="modal"><i class="icon-upload"></i> Import from File</a></li>

				<li class="divider"></li>
				<li><a href="#" id="print"><i class="icon-print"></i> Print</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#"><label for="typesetting_checkbox" class="checkbox"><input name="typesetting_checkbox" type="checkbox" id="typesetting_checkbox"> Typesetting</label></a></li>
				<li class="divider"></li>
				<li><a href="#"><label class="radio"><input name="cell_mode_radio" type="radio" id="single_cell_mode_radio" value="single"> Single-cell Mode</label></a></li>
				<li><a href="#"><label class="radio"><input name="cell_mode_radio" type="radio" id="multi_cell_mode_radio" value="multi" checked> Multi-cell Mode</label></a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Evaluation <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#" id="evaluate_all_cells"><i class="icon-play"></i> Evaluate all Cells</a></li>
				<li><a href="#" id="interrupt"><i class="icon-stop"></i> Interrupt</a></li>
				<li><a href="#" id="restart_worksheet"><i class="icon-refresh"></i> Restart Worksheet</a></li>
				<li class="divider"></li>
				<li><a href="#system_modal" id="change_system" data-toggle="modal"><i class="icon-cog"></i> Change system</a></li>
				<li class="divider"></li>
				<li><a href="#" id="hide_all_output"><i class="icon-eye-close"></i> Hide all output</a></li>
				<li><a href="#" id="show_all_output"><i class="icon-eye-open"></i> Show all output</a></li>
				<li><a href="#" id="delete_all_output"><i class="icon-remove"></i> Delete all output</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Data <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#" id="new_file"><i class="icon-file"></i> New file</a></li>
				<li><a href="#" id="upload_file"><i class="icon-upload"></i> Upload file</a></li>
				<li><a href="#" id="file_from_url"><i class="icon-globe"></i> File from URL</a></li>
			</ul>
		</li>
		<li><a href="#sharing_modal" id="sharing" data-toggle="modal">Sharing</a></li>
	</ul>

	{{ super() }}
{% endblock navbar %}

{% block alerts %}
	{% include 'html/alerts/worksheet_locked_alert.html' %}
	{% include 'html/alerts/rename_alert.html' %}
{% endblock alerts %}

{% block before_page %}
	<div class="single_cell_controls">
		<div class="left_controls">
			<button type="button" class="btn" id="first_cell"><i class="icon-fast-backward"></i></button>
			<button type="button" class="btn" id="previous_cell"><i class="icon-step-backward"></i></button>
		</div>
		
		<div class="progress_text">1/4</div>
		
		<div class="progress">
			<div class="bar" style="width: 25%;"></div>
		</div>
		
		<div class="right_controls">
			<button type="button" class="btn" id="next_cell"><i class="icon-step-forward"></i></button>
			<button type="button" class="btn" id="last_cell"><i class="icon-fast-forward"></i></button>
		</div>
	</div>
{% endblock before_page %}


{% block page %}
	<div class="worksheet_name">
		<h1><!--Worksheet Name--></h1>
		<input type="text" />
	</div>
{% endblock page %}

{% block after_container %}
	{% include 'html/modals/sharing_modal.html' %}
	{% include 'html/modals/system_modal.html' %}
	{% include 'html/modals/import_modal.html' %}
{% endblock after_container %}

{% block extra_javascript %}
	<!-- MathJax -->
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

	<!-- TinyMCE -->
	<script type="text/javascript" src="/data/tinymce-3.5.2/jscripts/tiny_mce/tiny_mce.js" ></script>

	<!-- CodeMirror -->
	<script src="/data/CodeMirror-2.25/lib/codemirror.js"></script>

	<!-- simple hinting -->
	<script type="text/javascript" src="/data/CodeMirror-2.25/lib/util/simple-hint.js"></script>
	<!-- javascript hinting. we'll have to create our own hinting presets but for testing we use js -->
	<script type="text/javascript" src="/data/CodeMirror-2.25/lib/util/javascript-hint.js"></script>

	<!-- CodeMirror modes -->
	<script src="/data/CodeMirror-2.25/mode/python/python.js"></script>
	<script src="/data/CodeMirror-2.25/mode/stex/stex.js"></script>
	<script src="/data/CodeMirror-2.25/mode/r/r.js"></script>
	<script src="/data/CodeMirror-2.25/mode/shell/shell.js"></script>

	<!-- htmlmixed depends on xml. javascript, and css -->
	<script src="/data/CodeMirror-2.25/mode/xml/xml.js"></script>
	<script src="/data/CodeMirror-2.25/mode/javascript/javascript.js"></script>
	<script src="/data/CodeMirror-2.25/mode/css/css.js"></script>
	<script src="/data/CodeMirror-2.25/mode/htmlmixed/htmlmixed.js"></script>
	<!-- END CodeMirror -->

	<!-- Jmol stuff -->
	<script type="text/javascript" src="/data/sage/js/jmol_lib.js"></script>

	<!-- Sage3d - accelerated 3D graphics -->
	<script type="text/javascript" src="/data/sage3d/sage3d.js"></script>

	<!-- Jmol - embedded 3D graphics -->
	<script type="text/javascript" src="/java/jmol/appletweb/Jmol.js"></script>
	<script>jmolInitialize("/java/jmol");jmolSetCallback("menuFile","/java/jmol/appletweb/SageMenu.mnu");</script>

	<!-- Worksheet -->
	<!-- randomize the worksheet.js url for development -->
	<script type="text/javascript">
		document.write('<script type="text/javascript" charset="utf-8" src="/data/sage/js/worksheet.js?' + new Date().getTime() + '"><\/script>');
	</script>
	
	<script type="text/javascript">
		// init notebook stuff
		sagenb.init();

		// create the worksheet
		var the_worksheet = new sagenb.worksheetapp.worksheet();

		// grab the filename from the URL
		var fn = window.location.pathname;

		// take off /home/
		fn = fn.substring(6);

		// take off last /
		if(fn.substring(fn.length - 1, fn.length) === "/") {
			// some versions of IE don't support fn.substring(-1)
			fn = fn.substring(0, fn.length - 1);
		}

		// set filename
		the_worksheet.filename = fn;

		// initialize
		the_worksheet.init();
	</script>
{% endblock extra_javascript %}