{% extends "html/settings/base.html" %}
{% block title %}{{ gettext('Notebook Settings') }}{% endblock %}

{% block more_css %}
<link rel="stylesheet" href="/javascript/jquery/plugins/farbtastic/farbtastic.css" type="text/css" />  
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/javascript/sage/ws_list.js"></script>
<script type="text/javascript" src="/javascript/jquery/plugins/farbtastic/farbtastic.min.js"></script>
{% endblock %}

{% block page_id %}notebook-settings-page{% endblock %}

{% block settings_main %}
<form method="post" action="/notebooksettings">
  <input type="hidden" name="form" value="on" />
  <div class="buttons buttons-top">
      <button type="submit">{{ gettext('Save') }}</button>
      <a href="/"><button>{{ gettext('Cancel') }}</button></a>
  </div>
  {%- if auto_table %}
  {{ auto_table }}
  {%- endif %}
  <div class="buttons">
      <button type="submit">{{ gettext('Save') }}</button>
      <a href="/"><button>{{ gettext('Cancel') }}</button></a>
  </div>
</form>
{% endblock %}
