{% extends "html/accounts/base.html" %}

{% block title %}{{ gettext('Account Recovery') }}{% endblock %}
{% block page_id %}account-recovery-page{% endblock %}

{% block body %}
<div id="wrapper">
    <h1>{{ gettext('Account Recovery') }}</h1>
    <p>{{ gettext("A new password will be emailed to the email address connected to your account. However if you didn't confirm your email address you will be unable to recover your account.") }}</p>  

    <form method="GET" action="/forgotpass">
        <div>
            <label for="username">{{ gettext('Username') }}</label>
            <input type="text" name="username" size="15" />
        </div>
        <div>
            <button type="submit">{{ gettext('Submit') }}</button> <a href="/"><button >{{ gettext('Cancel') }}</button></a>
        </div>
</form>
</div>
{% endblock %}
