{% extends "html/base.html" %}
{% block controls %}
<div id="main-controls" class="controls">
    <ul>
        <li class="username">{{ username }}</li>
        {% if username == 'guest' %}
        <li><a title="{{ gettext('Please log in to the Sage notebook') }}" href="/">{{ gettext('Log in') }}</a></li>
        {% else %}
        <li><a id="toggle-link" title="{{ gettext('Toggle the top bar') }}" onClick="$('#worksheet-bar').toggle()">{{ gettext('Toggle') }}</a></li>
        <li><a title="{{ gettext('Back to your personal worksheet list') }}" href="/home/{{ username }}">{{ gettext('Home') }}</a></li>
        {% if pub %}
        <li><span>{{ gettext('Published') }}</span></li>
        {% else %}
        <li><a title="{{ gettext('Browse the published worksheets') }}" href="/pub">{{ gettext('Published') }}</a></li>
        <li><a title="{{ gettext('View a log of recent computations') }}" href="#" onClick="history_window()">{{ gettext('Log') }}</a></li>
        {% endif %}
        <li><a title="{{ gettext('Change account settings including password') }}" href="/settings">{{ gettext('Settings') }}</a></li>
        <li><a title="{{ gettext('Documentation') }}" href="#" onClick="help()">{{ gettext('Help') }}</a></li>
        <li><a title="{{ gettext('Report a problem or submit a bug to improve Sage') }}" href="#" onClick="bugreport()">{{ gettext('Report a Problem') }}</a></li>
        <li><a title="{{ gettext('Log out of the Sage notebook') }}" href="/logout">{{ gettext('Sign out') }}</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
