{% extends "html/base.html" %}

{% block title %}Sage: History for {{username}} {% endblock %}

{% block css %}main{% endblock %}

{% block body %}

{% include "html/top_bar.html" %}

    <pre>
      {{ text | escape }}
    </pre>
    <hr class="usercontrol">
    <a title="Click here to turn the above into a Sage worksheet" href="/live_history">Create a new Sage worksheet version of the last 100 commands in the above log.</a>
    <a name="bottom"></a>
    <script type="text/javascript">$(document).load(function(){window.location="#bottom"});</script>

{% endblock %}
