{% include "html/top_bar.html" %}

<div id="usercontrols">
    {% if pub is not defined or not pub %}
    <a class="boldusercontrol" href="/new_worksheet" target="_blank">New Worksheet</a>
    <a class="boldusercontrol" href="/upload">Upload</a>
    {% if not accounts %}
    <a class="boldusercontrol" href="/download_worksheets.zip">Download All Active</a>
    {% endif %}
    {% endif %}

    <div id='search-area'>
      <form action="." method="GET">
        <input type="hidden" value="{{ typ if not pub else 'pub' }}" name="typ" />
        <input id="search-worksheets" size="20" value="{{ search if search else "" }}" name="search" />
        <button class="add_new_worksheet_menu" id="search-worksheets-button" type="submit">Search Worksheets</button>
      </form>
    </div>
</div>
