{% extends "html/base.html" %}

{% block title %}Notebook Settings{% endblock %}
{% block css %}account_settings{% endblock %}
{% block more_css %}
<link rel="stylesheet" href="/javascript/jquery/plugins/farbtastic/farbtastic.css" type="text/css" />  
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/javascript/jquery/jquery.js"></script>
<script type="text/javascript" src="/javascript/jquery/plugins/farbtastic/farbtastic.min.js"></script>
{% endblock %}

{% block body %}
<h1>Notebook Settings</h1>
<div class="section"><a href="/users">Manage Users</a> | <a href="/settings">My Settings</a> | <a href="/">My Worksheets</a> | <a href="/logout">Sign Out</a></div>

<form method="get" action="/notebooksettings">
  <input type="hidden" name="form" value="on" />
  {%- if auto_table %}
  {{ auto_table }}
  {%- endif %}
  <div id="buttons">
    <input type="submit" value="Save">
    <input type="button" value="Cancel" style="margin-left:5px" onClick="parent.location='/'">
  </div>
</form>
{% endblock %}
