{% extends "html/base_authenticated.html" %}

{% block title %}{{ src_filename }} - Source Code{% endblock %}

{% block css %}main{% endblock %}

{% block more_css %}<link type="text/css" ref="stylesheet" href="/javascript/highlight/prettify.css" />{% endblock %}

{% block page_id %}source-code-page{% endblock %}

{% block body %}
<div>
<h1>Sage Source Browser</h1>
<h2 class="filename" >{{ src_filename }}  <a href="..">(browse directory)</a></h2>
</div>

<code id="code">{{ src }}</code>

<script src="/javascript/highlight/prettify.js" type="text/javascript"></script>
<script type="text/javascript">
    code = $('code');
    code.html(prettyPrintOne(code.html()))
</script>
{% endblock %}
