{% extends 'html/base.html' %}

{% block head %}
	{{ super() }}
{% endblock head %}

{% block navbar %}
{% endblock navbar %}

{% block alerts %}
	{% include 'html/alerts/worksheet_locked_alert.html' %}
	{% include 'html/alerts/rename_alert.html' %}
{% endblock alerts %}

{% block before_page %}
{% endblock before_page %}


{% block page %}
	{# TODO gettext #}
	<h1 class="title"></h1>

	<div style="height: 10px;"></div>

	<div class="btn-toolbar well" id="top_toolbar">
		{# TODO gettext #}
		<a href="/new_worksheet" class="btn btn-primary" target="_blank"><i class="icon-file icon-white"></i> New Worksheet</a>
		<a href="#import_modal" class="btn" data-toggle="modal"><i class="icon-upload"></i> Upload</a>
		<a href="/download_worksheets.zip" class="btn"><i class="icon-download"></i> Download All Active</a>
	</div>

	<div class="btn-toolbar" id="bottom_toolbar">
		<div class="pull-left" id="action_buttons">
			{# TODO gettext #}
			<button type="button" class="btn btn-small hide" id="send_to_archive_button">Archive</button>
			<button type="button" class="btn btn-small hide" id="unarchive_button">Unarchive</button>
			<button type="button" class="btn btn-small hide" id="delete_button">Delete</button>
			<button type="button" class="btn btn-small hide" id="undelete_button">Undelete</button>
			<button type="button" class="btn btn-small hide" id="stop_button">Stop</button>
			<button type="button" class="btn btn-small hide" id="download_button">Download</button>
		</div>
		
		<div class="btn-group pull-left" data-toggle="buttons-radio" style="margin-left:25px;" id="type_buttons">
			<button type="button" class="btn active" id="show_active">Active</button>{# TODO gettext #}
			<button type="button" class="btn" id="show_archive">Archive</button>{# TODO gettext #}
			<button type="button" class="btn" id="show_trash">Trash</button>{# TODO gettext #}
		</div>
		
		<form action="#" class="form-search pull-right" style="margin-bottom:0">
			<div class="input-append">
				{# TODO gettext #}
				<input type="search" class="input-medium" placeholder="Search ..." size="12" id="search_input"><button class="btn" id="submit_search"><i class="icon-search"></i></button>
			</div>
		</form>
	</div>

	<div style="clear:both"></div>

	<table class="table table-striped worksheets_table">
		<thead>
			<tr>
				{# TODO gettext #}
				<th><input type="checkbox" id="main_checkbox"></th>
				<th>Worksheet</th>
				<th>Owner/Collaborators</th>
				<th>Last Edited</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
{% endblock page %}

{% block after_container %}
	{% include 'html/modals/sharing_modal.html' %}
	{% include 'html/modals/import_modal.html' %}
{% endblock after_container %}

{% block extra_javascript %}
	{# TODO: use webassets here #}
	<!-- Worksheet related javascript -->
	<script type="text/javascript" charset="utf-8" src="/data/sage/js/worksheet_list.js"></script>
	
	<script type="text/javascript">
		// init notebook stuff
		sagenb.init();

		// init the worksheet list
		var the_worksheet_list = new sagenb.worksheetlistapp.worksheet_list();
		the_worksheet_list.init();
	</script>
{% endblock extra_javascript %}
