{% extends 'html/modals/modal_base.html' %}

{% block modal_id %}data_modal{% endblock modal_id %}

{% block modal_title %}{{ gettext("Data") }}{% endblock modal_title %}

{% block modal_content %}

<div class="tabbable">

	<ul class="nav nav-tabs">
		<li class="active"><a href="#manage_tab" data-toggle="tab" id="manage_tab_button">{{ gettext("Manage") }}</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ gettext("Import") }} <b class="caret"></b></a>

			<ul class="dropdown-menu">
				<li><a href="#new_file_tab" id="new_file" data-toggle="tab"><i class="icon-file"></i> {{ gettext("New file") }}</a></li>
				<li><a href="#upload_data_file_tab" id="upload_file" data-toggle="tab"><i class="icon-upload"></i> {{ gettext("Upload file") }}</a></li>
				<li><a href="#file_from_url_tab" id="file_from_url" data-toggle="tab"><i class="icon-globe"></i> {{ gettext("File from URL") }}</a></li>
			</ul>
		</li>
	</ul>

	<div class="tab-content" style="padding-top: 0px">

		<div class="tab-pane active" id="manage_tab">
			<div id="data_list">
				<ul class="nav nav-tabs nav-stacked">
					
				</ul>
			</div>
		</div>

		<div class="tab-pane" id="new_file_tab">
			<form class="form-horizontal" method="post" action="#" name="upload">
				<fieldset>

					<div class="control-group">
						<label class="control-label" for="new">{{ gettext("Name") }}</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="new" name="new">
							<p class="help-block">{{ gettext("Pick a name for the file.") }}</p>
						</div>
					</div>

				</fieldset>
			</form>
		</div>

		<div class="tab-pane" id="upload_data_file_tab">
			<form class="form-horizontal" method="post" action="upload_datafile" name="upload" enctype="multipart/form-data" encoding="multipart/form-data" target="upload_frame">
				<fieldset>

					<div class="control-group">
						<label class="control-label" for="file">{{ gettext("File") }}</label>
						<div class="controls">
							<input class="input-file" id="file" name="file" type="file">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="name">{{ gettext("New name") }}</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="name" name="name">
							<p class="help-block">{{ gettext("Optional. Pick a new name for the file.") }}</p>
						</div>
					</div>

				</fieldset>
			</form>
		</div>

		<div class="tab-pane" id="file_from_url_tab">
			<form class="form-horizontal" method="post" action="#" name="upload">
				<fieldset>

					<div class="control-group">
						<label class="control-label" for="url">{{ gettext("URL") }}</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="url" name="url">
							<p class="help-block">{{ gettext("URL of the file you would like to import.") }}</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="name">{{ gettext("New name") }}</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="name" name="name">
							<p class="help-block">{{ gettext("Optional. Pick a new name for the file.") }}</p>
						</div>
					</div>

				</fieldset>
			</form>
		</div>

	</div>
</div>
{% endblock modal_content %}

{% block modal_footer %}
<a href="#" class="btn btn-primary hide" id="upload_button">{{ gettext("Upload") }}</a>
<a href="#" class="btn btn-primary" data-dismiss="modal" id="done_button">{{ gettext("Done") }}</a>
{% endblock modal_footer %}