{% extends "html/notebook/base_aux.html" %}

{% block page_id %}after-publish-page{% endblock %}

{% set checked = 'checked="true"' if worksheet.is_auto_publish() else '' %}

{% block sharebar_title %}
<p>{{ gettext('Worksheet is publicly viewable at <a href="%(u)s" style="color:#FFF" target="_blank">%(u)s')|format(u=url) }}</a></p>
<p>{{ gettext('Published on %(t)s')|format(t=time) }}</p>
<div>
    <a href="publish?re"><button>{{ gettext('Re-publish worksheet') }}</button></a>
    <a onClick="parent.location+='?stop'"><button>{{ gettext('Stop publishing') }}</button></p></a>
</div>
<input type="checkbox" name="auto" {{ checked }} onchange="parent.location='?auto'"/> <label for="auto">{{ gettext('Automatically re-publish when changes are made') }}</label>
{% endblock %}
{% set select = "publish" %}
{% set backwards = true %}
