{% extends "html/notebook/base_aux.html" %}

{% block page_id %}before-publish-page{% endblock %}
{% block sharebar_title %}
<p>You can publish your worksheet to the Internet, where anyone will be able to access and view it online.</p>

<p>Your worksheet will be assigned a unique address (URL) that you can send to your friends and colleagues.</p>

<p>Do you want to publish this worksheet?</p>

<form method="get" action=".">
    <input type="hidden" name="yes" value="" />
    <div>
        <button type="submit">Yes</button>
        <a href="../"><button>No</button></a>
    </div>
    <div>
        <input type="checkbox" name="auto" /> <label for="auto"> Automatically re-publish when changes are made</label>
    </div>
</form>
{% endblock %}
{% set select = "publish" %}
{% set backwards = true %}
