{% extends "html/notebook/base_aux.html" %}

{% block page_id %}edit-page{% endblock %}

{% block before_sharebar %}
<form method="post" action="save" enctype="multipart/form-data">
{% endblock %}
    
{% block sharebar_title %}
    <span>Edit plain text</span>
    <button type="submit" name="button_save" id="button_save">Save Changes</button>
    <button type="submit" name="button_cancel">Cancel</button>
{% endblock %}
{% set select = "edit" %}

{% block after_sharebar %}
<script type="text/javascript">
    function save_worksheet() {
    }
    function save_worksheet_and_close() {
    }
</script>
    <textarea class="plaintextedit" id="cell_intext" name="textfield" rows="{{ worksheet.edit_text().count("\n")+1 }}">{{ worksheet.edit_text()|escape }}</textarea>
</form>
{% endblock %}
