{% extends "html/notebook/base_aux.html" %}

{% set select = "revisions" %}
{% block sharebar_title %}
{{ gettext('Revision from %(ta)s ago')|format(ta=time_ago) }}&nbsp;&nbsp;&nbsp;&nbsp;<a href='revisions'>{{ gettext('Revision List') }}</a>
{% endblock %}

{% block page_id %}specific-revision-page{% endblock %}

{% macro actions() %}
{% if prev_rev %}
    <a class="listcontrol" href="revisions?rev={{ prev_rev }}">{{ gettext('Older') }}</a>
{% else %}
    {{ gettext('Oldest') }}
{% endif %}

{% if next_rev %}
    <a class="listcontrol" href="revisions?rev={{ next_rev }}">{{ gettext('Newer') }}</a>
{% else %}
    {{ gettext('Newest') }}
{% endif %}

<a class="listcontrol" href="revisions?rev={{ rev }}&action=revert">{{ gettext('Revert to this one') }}</a> <span class="lastedit">{{ gettext('(note that images are not recorded)') }}</span>&nbsp;&nbsp;
<a class="listcontrol" href="revisions?rev={{ rev }}&action=publish">{{ gettext('Publish this one') }}</a>
{% endmacro %}

{% block after_sharebar %}
{{ actions() }}
<div id="revision-data">
    {{ worksheet.html(do_print=true, publish=true, username=username) }}
</div>
{{ actions() }}
<script type="text/javascript">
  $(document).ready(function () {
    jsMath.Process();
  });
</script>
{% endblock %}
