{#
INPUT:
- username - a string containing a username
- worksheet_filename - a string containing a worksheet's filename
- worksheet_html - a string containing the html for a worksheet
- show_debug - a boolean stating whether to show debug information
  #}
{% include "html/notebook/worksheet_topbar.tmpl" %}
{% set toggle=true %}
{% include "html/top_bar.html" %}
{% if worksheet.filename() %}
    {{ worksheet_topbar(worksheet, "use", username) }}
{% endif %}
{% if show_debug %}
    {% include "html/notebook/debug_window.html" %}
{% endif %}

<div class="worksheet" id="worksheet">
    {{ worksheet_html }}
</div>

