{% extends "html/notebook/base_aux.html" %}

{% block page_id %}revision-list-page{% endblock %}

{% block sharebar_title %}
Revision History
{% endblock %}

{% set select = "revisions" %}

{% block after_sharebar %}
<table id="revision-list">
    <thead>
        <tr>
            <td class="revision-title">Revision</td>
            <td class="edit-time">Last Edited</td>
        </tr>
    </thead>
    <tbody>
        {% for desc, key in worksheet.snapshot_data()|reverse %}
        <tr>
            <td><a href="revisions?rev={{ key }}">Revision {{ loop.revindex0 }}</a></td>
            <td><span class="revs">{{ desc }}</span></td>
        </tr>
        {% endfor %}
    </body>
</table>
{% endblock %}
