{% extends "html/notebook/worksheet_page_template.html" %}
{#
INPUT:
- data - a list of pairs of the form ('how long ago', key)
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- username - a string containing a username
- JSMATH - a boolean stating whether to include jsMath
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
#}

{% block page_id %}revision-list-page{% endblock %}

{% block sharebar_title %}
Revision History
{% endblock %}

{% set select = "revisions" %}

{% block after_sharebar %}
<table id="revision-list">
    <thead>
        <tr>
            <td class="revision-title">Revision</td>
            <td class="edit-time">Last Edited</td>
        </tr>
    </thead>
    <tbody>
        {% for desc, key in data|reverse %}
        <tr>
            <td><a href="revisions?rev={{ key }}">Revision {{ loop.revindex0 }}</a></td>
            <td><span class="revs">{{ desc }}</span></td>
        </tr>
        {% endfor %}
    </body>
</table>
{% endblock %}
