{#
INPUT:
- worksheet -- Worksheet object
- publish -- boolean whether this is for the published version
- do_print -- boolean whether this is for a print version
#}

{% set wrap = conf['word_wrap_cols'] %}
{% if not publish %}
    {% set publish = worksheet.is_published() %}
{% endif %}

<div class="cell_input_active" id="cell_resizer"></div>
<div class="worksheet_cell_list" id="worksheet_cell_list">
  {% for cell in worksheet.cell_list() %}
    {{ cell.html(wrap = wrap, div_wrap = true, do_print = do_print, publish = publish) | safe }}
  {% endfor %}
</div>
