{% extends "html/base.html" %}
{#
INPUT:
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- username - a string containing a username
- title - a string
- select    - a string containing the control that is selected
- backwards - a boolean
- JSMATH - a boolean stating whether to include jsMath
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
#}

{% if not select %}
    {% set select = none %}
{% endif %}

{% if not backwards %}
    {% set backwards = false %}
{% endif %}
    
{% include "html/notebook/head.tmpl" %}
{% include "html/notebook/worksheet_top.tmpl" %}
{% include "html/notebook/worksheet_topbar.tmpl" %}

{% block title %}
{{ common_title(worksheet_filename, worksheet) }}
{% endblock %}
    
{% block css %}main{% endblock %}

{% block javascript %}
{{ common_javascript(worksheet, worksheet_filename, username, JSMATH, JEDITABLE_TINYMCE) }}
{% endblock %}

{% block body %}
{{ worksheet_top(username) }}
{{ worksheet_topbar(worksheet, select, username, backwards) }}
<hr class="usercontrol" />
{% block before_sharebar %}{% endblock %}
<span class="sharebar">{{ title }}</span>
<br /><br /><br />
{% block body_addition %}{% endblock %}
{% endblock %}
