#source-code-page {
  .str {
    color: #008800; }
  .kwd {
    color: #000088; }
  .com {
    color: #880000; }
  .typ {
    color: #660066; }
  .lit {
    color: #006666; }
  .pun {
    color: #666600; }
  .pln {
    color: black; }
  .tag {
    color: #000088; }
  .atn {
    color: #660066; }
  .atv {
    color: #008800; }
  .dec {
    color: #660066; } }
