@import "partials/mixins";

#source-code-page {
  h1, h2 {
    text-align: center; }
  .filename {
    @include monospace-stack; }
  code {
    display: block;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 1em; } }
