html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

html { font-size: 100.1%; }

body { font: 100%/1.4 Arial, Helvetica, sans-serif; }

h1 { background: #DCDCDC; border-bottom: 1px solid #CCC; font-size: 2em; padding: 0 5px; }

label { display: block; }

#buttons { background: #DCDCDC; padding: 5px; }
#buttons button { margin-right: 1em; }

h2 { font-size: 1.5em; }

.section { border-bottom: 1px solid #CCC; padding: 5px; }
.section div { margin-bottom: 0.5em; }

.error { color: red; }

.updated { color: green; }

input.c1 { width: 200px; }
