@background_color: #eee;
@the_container_width: 700px;

/* MIXINS */
.rounded-corners (@radius: 5px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

.outer_shadow(@radius: 5px, @color: #aaa) {
	-moz-box-shadow: 0 0 @radius @radius @color;
	-webkit-box-shadow: 0 0 @radius @radius @color;
	box-shadow: 0 0 @radius @radius @color;
}

.inner_shadow(@radius: 5px, @color: #aaa) {
  -moz-box-shadow: inset 0 0 @radius @radius @color;
  -webkit-box-shadow: inset 0 0 @radius @radius @color;
  box-shadow: inset 0 0 @radius @radius @color;
}


body {
	background-color: @background_color;

	/* this is from the bootstrap template thing not sure if its necessary */
	/* padding-top: 60px; */ /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar {
	a {
		/* take off the margin on the form labels inside the nav dropdown */
		label {
			margin-bottom: 0;
		}
		
		/* change the color on hover, so labels behave like other buttons */
		&:hover label {
			color: white;
		}
	}
	
	/* makes the labels responsive to collapse */
	.in a label {
		font-weight: bold;
		color: #999;
		margin-bottom: 0;
	}
	
	/* makes the icons white when they are on the collapsed black background */
	.in li a i {
		/* this is identical to adding the class icon-white */
		background-image: url("../../bootstrap-2.0.4/img/glyphicons-halflings-white.png");
	}
}

/* the no connection alert */
@alert_width: 550px;
.alert_container {
	width: @alert_width;
	margin-left: auto;
	margin-right: auto;

	.alert_container_inner {
		position: fixed;
		top: 50px;

		/* -50 to adjust for padding */
		width: @alert_width - 50;
		
		/* otherwise codemirror shows through */
		z-index: 1;
	}
	
	.alert {
		
	}
}

.the_container {
	width: @the_container_width;
	margin-left: auto;
	margin-right: auto;
	
	.the_page {
		.rounded-corners(3px);
		.outer_shadow(3px, #ccc);
		min-height: 700px;
		margin-bottom: 100px;
		margin-top: 120px;
		background-color: #fff;
		padding: 25px;
	}
}

body.single_cell_mode .the_page {
	margin-top: 0px;
}

/* this is the responsive styling for the page and container.
it makes the page automatically fit the screen when the 
screen width is less than the container width */
@media (max-width: @the_container_width) {
	/* here we may want to also change the body padding */

	.the_container {
		width: auto;
		margin-left: 0px;
		margin-right: 0px;
		
		/* these styles are adjusted to create a 20px space 
		around the page since the body has a 20px padding */
		.the_page {
			margin-top: 25px;
			margin-bottom: 20px;
		}
	}
}

/* here we should also make another @media setup for printing */

@title_font_size: 42px;
h1.title {
	font-size: @title_font_size;
	line-height: @title_font_size + 6;
}

.worksheet_name {
	height: @title_font_size + 6;

	input {
		/* -2 to account for padding */
		height: @title_font_size - 2;
		width: 100%;

		/* for now, this is a sloppy way to deal with padding issues */
		padding-left: 0;
		padding-right: 0;

		display: none;
		font-size: @title_font_size;
		font-weight: bold;
	}

	&:hover {
		background-color: #ffffcc;
		cursor: text;
	}

	&.edit {
		h1 {
			display: none;
		}
		input {
			display: block;
		}
	}
}


/* -------- SHARING DIALOG ---- */
#collaborators_textarea {
	resize: vertical;
	max-height: 200px;
}

/* -------- DATA DIALOG -------- */
#data_modal {
	#manage_tab {
		.data_list {
			height: 300px;
			padding-right: 5px;
			overflow-y: scroll;
		}
		ul {
			margin-bottom: 0px;

			li {
				a {
					span.filename {
						
					}
					
					/* The stuff on the right */
					& > .pull-right {
						display: none;
						
						/* click for this text */
						.explanation {
							color: #bbb;
							font-size: 10px;
							margin-right: 10px;
							margin-top: 2px;
							float: left;
						}
					}
				}
				

				&:hover div {
					display: block;
				}
			}
		}
	}
	
	#new_file_tab {
		
	}
	
	#upload_file_tab {
		
	}
	
	#file_from_url_tab {
		
	}
}

/* -------- WORKSHEET --------- */
@well_padding: 10px;
@single_cell_controls_padding: 10px;

.single_cell_controls {
	display: none;
	position: relative;
	height: 30px;
	padding-bottom: @single_cell_controls_padding;
	padding-top: @single_cell_controls_padding;
	opacity: 0.5;

	&:hover {
		opacity: 1.0;
	}

	.left_controls {
		position: absolute;
		left: 0;
		top: @single_cell_controls_padding;
		z-index: 1;
	}
	
	.progress_text {
		position: absolute;
		top: @single_cell_controls_padding + 6px;
		text-align: center;
		width: 100%;
		z-index: 0;
		font-weight: bold;
		font-size: 16px;
	}
	
	.progress {
		width: 50%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		
		.bar {
			height: 100%;
		}
	}
	
	.right_controls {
		position: absolute;
		right: 0;
		top: @single_cell_controls_padding;
		z-index: 1;
	}
}

body.single_cell_mode .single_cell_controls {
	display: block;
}


.bootstrap_well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.the_well {
	.bootstrap_well;
	margin: 0;
	/*min-height: 50px;*/
	padding: @well_padding;
}

.cell {
	.rounded-corners(10px);
	background-color: #fafafa;
	padding: @well_padding;
	
	.input_cell {
		.rounded-corners(10px);
		padding: @well_padding;
		background-color: #ececea;
		/*min-height: 50px;*/

		/* make cordemirror automatically resize the height */
		.CodeMirror-scroll {
			height: auto;
			overflow-y: hidden;
			overflow-x: auto;
			width: 100%
		}

        .CodeMirror-gutter-text {
            color: #999999;
            background-color: #ECECEA;
        }

		&.input_hidden {
			.CodeMirror-scroll {
				max-height: 20px;
				opacity: 0.5;
			}
		}
	}
	
	.output_cell {
		.the_well;
		margin-top: 10px;

		/*.rounded-corners(10px);
		padding: 10px;
		background-color: #eaeaea;
		min-height: 50px;*/

		max-height: 500px;
		overflow: auto;

		pre {
			padding: 0;
			margin: 0;
			border: none;
			background-color: transparent;
			font-size: 14px;
		}

		.jmol_frame {
			width: 100%;
			height: 500px;
			border: none;
		}

		/* for hidden output */
		hr {
			margin: 10px auto;
			border-style: solid;
			border-width: 2px;
			border-color: #bbb;
			width: 100px;
		}
	}
	
	&.text_cell {
		.view_text {
			
		}
		.edit_text {
			display: none;
			
			textarea {
				margin-bottom: 0;
			}

			/* the cancel and save buttons */
			.buttons {
				margin-top: @well_padding;
				text-align: right;

				button {
					margin-left: @well_padding;
					
					/* the save buttons */
					&.btn-primary {
						padding-left: 2 * @well_padding;
						padding-right: 2 * @well_padding;
					}

					&.delete_button {
						margin-left: 0;
					}
				}
			}
		}

		&.edit {
			.view_text {
				display: none;
			}
			.edit_text {
				display: block;
			}
		}
	}

}

@new_cell_button_margin: 10px;
.new_cell_button {
	padding-top: @new_cell_button_margin;
	padding-bottom: @new_cell_button_margin;
	cursor: pointer;
	
	.line {
		height: 2px;
	}
	
	&:hover .line {
		background-color: #eaeafc;
	}
}



/* ----------- END WORKSHEET --------- */

/* ----------- WORKSHEET LIST --------- */
#top_toolbar {
	margin-bottom: 25px;
	text-align: center;
	padding: 10px;
	
	form {
		margin-bottom: 0;
	}
}

.worksheets_table {
	margin-top: 5px;

	.checkbox_cell {
		width: 1%;
	}
	
	.worksheet_name_cell {
		font-weight: bold;
		width: 45%
	}
	
	.last_edit_cell {
		font-size: 8pt;
		color: #999;
		width: 15%;
	}
}
